<div class="title">
  <h1><%= @pokemon.name.upcase %></h1>
</div>
<div class="poke-show">
  <img alt="<%= @pokemon.name %>-image" src="/<%= @pokemon.id.rjust(3, '0') %>.png"/>
  <br>
  <h3>TYPES:</h3>
  <h2><%= @pokemon.types.map { |type| type.name.upcase }.join(', ') %></h2>
  <h3>MOVES:</h3>
  <h2><%= @pokemon.moves.map { |move| move.name.upcase }.join(', ') %></h2>
  <h3>ABILITIES:</h3>
  <h2><%= @pokemon.abilities.map { |ability| ability.name.upcase }.join(', ') %></h2>
</div>
<script>
$(function() {
  
});
</script>