<div class="title">
  <h1 style="color:white"><%= @pokemon.name.upcase %></h1>
</div>
<div class="poke-show center">
  <img class="center poke-img" alt="<%= @pokemon.name %>-image" src="/<%= @pokemon.id.rjust(3, '0') %>.png"/>
  <br>
  <div class="poke-stats">
  <h3>TYPES</h3>
      <ul>
        <li class="instructions"><small>CLICK ANY TO VIEW OTHER POKES BY TYPE</small></li>
        <% @pokemon.types.each do |type| %>
          <li><a href="/#types/<%= type.id %>"><%= type.name.upcase %></a></li>
        <% end %>
      </ul>

    <h3>MOVES</h3>
      <ul>
        <li class="instructions"><small>CLICK ANY TO SEE MOVE INFO</small></li>
        <% @pokemon.moves.each do |move| %>
          <li><a href="/#moves/<%= move.id %>"><%= move.name.upcase %></a></li>
        <% end %>
      </ul> 

    <h3>ABILITIES</h3>
      <ul>
        <% @pokemon.abilities.each do |ability| %>
          <li><%= ability.name.upcase %></li>
        <% end %>
      </ul> 
  </div>
</div>

<script>
$(function() {
  $('.back-link-container').html("<a class='back-link' href='/#pokemon'>&lt;&lt; BACK TO FULL POKEDEX</a>")
  $('.poke-stats').accordion({
      heightStyle: "content"
    });
   $('.poke-img').animate({
        opacity: 1
     }, 1500);
});
</script>