<div class="title">
  <h1 style="color:white"><%= @move.name.upcase %></h1>
</div>
<div style="margin-top: 10%;margin-bottom:7%" class="data-index center">
  <h3><small>ACCURACY</small><span class="move-stat"><%= @move.accuracy %></span></h3>
  <h3><small>POWER</small><span class="move-stat"><%= @move.power %></span></h3>
  <h3><small>PP</small><span class="move-stat"><%= @move.pp %></span></h3>
  <br><br>
  <h4 class="move-stat"><%= @move.description %></h4>
</div>
<div class="footer">
  <a class="back-link" href="/#pokemon">&lt;&lt; BACK TO FULL POKEDEX</a>
</div>